.footer{
    margin: 30px;
    height: auto
}
.conta{
    display: flex;
    justify-content: space-around;
    background-color: #131030;
    height: auto;
}
.foot-col {
    margin: 20px;
    
}
.foot-col a{
    color: white;
}